.titleContainerLogin {
  margin-bottom: 15%;
  padding-left: 10%;
}

.titleLogin {
  color: #25a55f;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  font-size: 2.3vw;
  line-height: 38px;
}

.formGroupLogin {
  padding: 0 10%;
}

.formGroupLogin p {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 400;
  font-size: 1.4vw;
  line-height: 35px;
  margin: 6% 0 4% 0;
}

.formGroupLoginInputIcon {
  display: flex;
  flex-direction: row;
}

.checkRegister {
  width: 6%;
  height: 6%;
  margin-left: 10%;
  padding-bottom: 1%;
}

.formInputLogin {
  width: 90%;
  border: none;
  border-bottom: 1px solid #111111;
  outline: none;
  background-color: transparent;
  padding-bottom: 1%;
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 22px;
  color: #111111;
}

.formInputLogin:focus {
  border-bottom-color: #25a55f;
}

.formGroupLoginPassword {
  padding: 0 10%;
  text-align: end;
  margin-top: 3%;
}

.formGroupLoginPassword p {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 22px;
  color: #111111;
}

.formGroupConnection {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
  margin-top: 15%;
}

.connectionButton {
  background-color: #25a55f;
  border-radius: 20px;
  border: none;
  color: white;
  padding: 3% 0;
  width: 80%;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 700;
  font-size: 1.2vw;
  line-height: 29px;
  text-transform: uppercase;
}

.connectionButton:hover {
  background-color: #1c7b47;
  color: grey;
}

.loadingButton {
  background-color: #1c7b47;
  color: grey;
  border-radius: 20px;
  border: none;
  padding: 3% 0;
  width: 80%;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 700;
  font-size: 1.2vw;
  line-height: 29px;
  text-transform: uppercase;
}

.formGroupRegister {
  display: flex;
  justify-content: center;
}

.registerButton {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 700;
  font-size: 1.2vw;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;
  border: none;
  color: #1c7b47;
  background-color: transparent;
  cursor: pointer;
}

.registerButton:hover {
  color: #25a55f;
}

.connectionButton:disabled {
  background-color: grey;
  cursor: not-allowed;
}

.connectionButton:disabled:hover {
  background-color: grey;
  color: #fff;
  cursor: not-allowed;
}

.spinner {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #25a55f;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
  margin: 0 auto;
  margin-top: 10%;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
