.MainContainer {
  padding: 5vh 20px;
  width: 90vw;
  /* background-color: #eaecf0; */
  overflow-y: scroll;
  overflow: visible;
}

.donationContainer {
  overflow: hidden;
  background-color: white;
  border-radius: 20px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

.header {
  width: 100%;
  background-image: url("../../assets/images/2077898529.jpg");
  height: 250px;
  text-align: center;
  position: relative;
}


.mainTitle {
  font-size: 38px;
  font-weight: bold;
  /* padding-top: 50px; */
  color: white;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.textContainer {
  margin: 20px;
  /* background-color: #eee; */
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
}

.summary {
  margin: 10px;
  width: 45%;
  color: black;
}

.buttonContainer {
  height: 100px;
  position: relative;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.donateButton {
  background-color: #25a55f;
  border-radius: 16px;
  border: none;
  color: white;
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
}

@media (max-width: 940px) { 
  .textContainer {
    flex-wrap: wrap; 
  }

  .summary {
    width: 100%;
  }

  .mainTitle {
    font-size: 28px;
  }

  .header {
    height: 150px;
  }
}